
@{
    ViewBag.Title = "Login";
    Layout = null;
}
/*
<style>
    * {
        background-color: transparent;
        padding: 0px;
        margin: 0px;
        font-family: sans-serif;
        box-sizing: border-box;
    }

    header {
        background-color: #cccccc;
        min-height: 70px;
        padding: 15px;
    }

    main {
        min-height: 300px;
        padding: 7.5px 15px;
    }

    footer {
        background-color: #cccccc;
        min-height: 70px;
        padding: 15px;
    }

    .container {
        width: 100%;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 250px;
    }

    .login-form {
        width: 100%;
        max-width: 400px;
        margin: 20px auto;
        background-color: #ffffff;
        padding: 15px;
        border: 2px dotted #cccccc;
        border-radius: 10px;
    }

    h1 {
        color: #009999;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .input-box {
        margin-bottom: 10px;
    }

        .input-box input {
            padding: 7.5px 15px;
            width: 100%;
            border: 1px solid #cccccc;
            outline: none;
        }

    .btn-box {
        text-align: right;
        margin-top: 30px;
    }

        .btn-box button {
            padding: 7.5px 15px;
            border-radius: 2px;
            background-color: #009999;
            color: #ffffff;
            border: none;
            outline: none;
        }
</style>




@using (Html.BeginForm())
{
    <main>
        <div class="container">
            <div class="login-form">
                <form action="" method="post">
                    <h1 style="text-align:center">Đăng nhập vào website</h1>
                    <div class="input-box">
                        <i></i>
                        <input type="text" name="user_name" placeholder="Nhập username">
                    </div>
                    <div class="input-box">
                        <i></i>
                        <input type="password" name="pass_word" placeholder="Nhập mật khẩu">
                    </div>
                    <div class="btn-box">
                        <button type="submit">
                            Đăng nhập
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    /* <div class="row">
         @ViewBag.h

         <div class="col-lg-4">Tên đăng nhập</div>
         <div class="col-lg-8"><input type="text" name="user_name" placeholder="ten dang nhap" /></div>
     </div>
     <div class="row">
         <div class="col-lg-4">Mật khẩu</div>
         <div class="col-lg-8"><input type="password" name="pass_word" placeholder="mat khau" /></div>
     </div>
     <div class="row">
         <div class="col-lg-4">&nbsp</div>
         <div class="col-lg-8"><input type="submit" name="Login" value="Login" /></div>
     </div>*/

}